
<div class="text-center">
   <h1><%= @user.email %></h1>
    <h4>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %> </h4>
 </div>



<div class="clear"></div>




<!-- Places Display -->
<hr />

<h1 class="text-center">My Places</h1><br />
<div class="userbox col-xs-10 col-xs-offset-1">
<% @user.places.each do |place| %>  
  
    
      <h3><%= link_to place.name, place_path(place) %></h3><br />
      <i><%= place.address %></i><br />
      <p><%= place.description %></p><br />
    
   <%= link_to 'Destroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
  <% end %>
</div>
<p>

<br />
<div class="clear"></div>

<!-- Comments Display -->
<hr />
<h1 class="text-center">My Comments: <%= @user.comments.count %></h1>
<br />
<div class="userbox col-xs-10 col-xs-offset-1">
- <% @user.comments.each do |comment| %>
<%= link_to comment.place.name, place_path(comment.place) %>: <%= comment.review %>

<% end %>
</div>


<div class="clear"></div>