<div class="text-center">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>
</div>
  <hr />

<!-- comment --><!-- comment --><!-- comment -->
<h2>Reviews</h2>
<div class="comments">    
  <% @place.comments.each do |comment| %>
    <div class="comment">
      <span class="comment_handle">
        <%= comment.user.email %> :
      </span>
      <%= comment.review %>
    </div>
    <% end %>
    <br />
    <h4>Add your review</h4>
    <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
    <%= f.input :review %>
    <%= f.submit 'Add a review', class: 'btn btn-primary pull-right' %>
    <% end %>
</div>
<br />


<hr />

<!-- map -->
<div class="show-booyah-box col-xs-10 col-xs-offset-1">
  <h2>Location</h2>
  <i><%= @place.address %></i><br /><br />
  <% if @place.latitude.present? && @place.longitude.present? %>
<script>

function initMap() {
  var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>}; 

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '<%= @place.name %>'
  });
}
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
        
<div id="map"></div>
<% end %>
</div>

